@page "/ToDo"
<h3>ToDo</h3>
<br />

<ToDoComponent Tasks="@tasks"></ToDoComponent>


@code {

      private List<TaskItem> tasks = new List<TaskItem>();
    //Htis method will run whe the cont rol is load:

    protected  override void OnInitialized()
    {
        //add a task
        tasks.Add(new TaskItem()
        {
            TaskDescription = "Task Emilio Barrera With Blazor",
            IsComplete = false,
        });
    }


}
