<h2>Component comsumed by a parent component.</h2>
<ul class="list-group"> 
    @foreach (var task in Tasks)
    {
        <li class="list-group-item form-check form-check-inline">
            <button class="btn btn-danger" @onclick="(()=> RemoveTask(task))">Delete</button>
            <label class="form-check-label" for="inlineCheckBox1" style="color:@ThemeColororParameter">@task.TaskDescription</label>
        </li>
    }
</ul>

@code {

     [CascadingParameter(Name = "ThemeColor")]
    public string ThemeColororParameter { get; set; }

    [Parameter]
    public List<TaskItem> Tasks { get; set; }
    [Parameter]
    public EventCallback<TaskItem> RemoveTaskChanged { get; set; }

    private async Task RemoveTask(TaskItem taskItem)
    {
        await RemoveTaskChanged.InvokeAsync(taskItem);
    }


    public void AddNewtask(TaskItem taskItem)
    {
        Tasks.Add(taskItem);
    }

}
